{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="small-container">
    <div class="row row-2">
        <h2>Watches</h2>
    </div>
    <div class="row">
        <div class="col-4">
            <a href="{% url 'product_description'   %}"><img src="{% static 'images/product-4.jpg' %}"></a>
            <h4>Watch for women</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>    
 
<div class="col-4">
    <img src="{% static 'images/product-6.jpg'%}">
    <h4>Watch for men</h4>
    <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
    </div>

<div class="col-4">
        <img src="{% static 'images/shirt.jpg/'%}">
        <h4>Watch for men</h4>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </div>    